{"filter":false,"title":"trebon_defconfig","tooltip":"/arch/arm/configs/trebon_defconfig","undoManager":{"mark":0,"position":0,"stack":[[{"group":"doc","deltas":[{"start":{"row":382,"column":0},"end":{"row":382,"column":27},"action":"remove","lines":["CONFIG_MSM7X27A_UNDERVOLT=y"]},{"start":{"row":382,"column":0},"end":{"row":382,"column":38},"action":"insert","lines":["# CONFIG_MSM7X27A_UNDERVOLT is not set"]}]}]]},"ace":{"folds":[],"scrolltop":4227.5,"scrollleft":0,"selection":{"start":{"row":382,"column":38},"end":{"row":382,"column":38},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":351,"state":"start","mode":"ace/mode/text"}},"timestamp":1417926701590,"hash":"a46ef40733081c0c8b2a3233c24d57db8d3eb3e8"}